*.pro.*
build-spitsyn_kurs/*
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/.qmake.stash
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile.Debug
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/Makefile.Release
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/allocator.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/exception.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/ganttchart.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/main.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/mainwindow.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/manipulator.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_mainwindow.cpp
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_mainwindow.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/moc_predefs.h
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/spitsyn_kurs.exe
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/timeline.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/debug/timelineitem.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Debug/ui_mainwindow.h
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/.qmake.stash
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/Makefile
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/Makefile.Debug
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/Makefile.Release
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/allocator.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/exception.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/ganttchart.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/main.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/mainwindow.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/manipulator.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/moc_mainwindow.cpp
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/moc_mainwindow.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/moc_predefs.h
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/spitsyn_kurs.exe
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/timeline.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/release/timelineitem.o
/build-spitsyn_kurs-Desktop_Qt_5_12_2_MinGW_32_bit-Release/ui_mainwindow.h
